.promocionesPantallaPrincipal{
    margin-top: 20px;
    padding: 20px;
    height: auto;
    background-color: #d8d8d8;
    border-radius: 20px;
    box-shadow: 
    0px 5px 6px 0px rgba(0, 0, 0, 0.34)
}

.promocionesPantallaPrincipal h2{
    margin-top: 0;
    font-family: 'The Nautigal', cursive;
    font-size: 50px;
    /* background-color: #8C3E30; */
    display: inline;
    border-radius: 20px;
    color: #61210B;
}
